div.newtextsearch-by-form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.newtextsearch-by-form-container > .newtextsearch-by-form-group{
    padding: 5px;
    flex-grow: 1;
}
div.newtextsearch-by-form-container > .newtextsearch-by-form-group a {
    overflow-x: hidden;
}

/* à retirer après fusion dans le coeur */

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, 
.input-group-lg > .input-group-btn > .btn {
  padding: 10px 16px !important;
}

.input-group-addon:last-child, .input-group-btn:last-child > .btn {
  height: 46px;
}